<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="spring-boot-kafka-log" packages="id.co.diansetiyadi">
    <Properties>
        <Property name="bootstrap.servers">localhost:9092</Property>
        <Property name="audit.logmarker">AuditRecord</Property>
        <Property name="kafka.topic.audit">audit</Property>
        <Property name="kafka.topic.logs">logs</Property>
    </Properties>
    <Appenders>
        <Kafka name="kafkaLogAppender" topic="digital-opening-log">
            <JSONLayout />
            <Property name="bootstrap.servers">${bootstrap.servers}</Property>
            <MarkerFilter marker="AuditRecord" onMatch="DENY" onMismatch="ACCEPT"/>
        </Kafka>

                <Async name="Async">
            <AppenderRef ref="kafkaLogAppender"/>
        </Async>

        <File>

        </File>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%-7t] %F:%L - %m%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="kafkaLogAppender"/>
            <AppenderRef ref="stdout"/>
        </Root>
        <Logger name="org.apache.kafka" level="WARN" />
    </Loggers>
</Configuration>